.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px), (max-width: 768px) {
  .container {
    justify-content: center;
    padding: 0px;
    width: 100%;
  }
}

.no-restaurant {
  width: 100%;
  padding: 15px 0px 0px 30px;
}
