.inner-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 35px;
  padding: 10px;
  background-color: #263238;
}

/** Search **/
.search-container {
 height: 30px;
 align-self: center;
}

.search-container input {
  width: 300px !important;
}

/** To remove cross icon **/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/** Left Logo **/
.logo {
  align-self: center;
  padding-left: 20px;
  height: 40px;
}

.login-button {
  align-self: center;
  margin-right: 20px !important;
}

/* Modal **/
@keyframes app-logo-spin {
  from { transform: scaleX(-1); }
}

.MuiFormControl-root {
  width: 80%;
}

.tabs {
  margin-bottom: 20px;
}

.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}

.red {
  color: red;
}

/* Menu */
.profile-menu {
  margin-top: 30px;
  padding: 0px;
  margin-left: 20px;
}

.profile-button {
  align-self: center;
  margin-right: 10px;
  color: lightgrey;
}

/* Smaller devices */
@media screen and (max-width:600px) {
  .inner-container {
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
  }
  .search-container, .login-button, .profile-button {
    align-self: flex-start;
  }

  .logo {
    align-self: flex-start;
    margin-left: -5px;
  } 

  .modal-style {
    min-width: 70%;
  }

}