.red {
  color: red;
}

.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}

.gridListMain {
  display: flex;
  flex-wrap: nowrap !important;
  transform: translateZ(0);
  height: 400px;
  width: 1000px !important;
}

.grid-list-tile-container {
  padding: 16px 8px 16px 16px;
}

@media only screen and (max-width: 600px), (max-width: 768px) {
  .MuiStepper-root {
    padding: 18px !important;
  }
}
